[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

django = "*"
djangorestframework = "*"
"psycopg2" = "*"
python-decouple = "*"
dj-database-url = "*"
unipath = "*"


[requires]

python_version = "3.5"


[dev-packages]

httpie = "*"
"requires.io" = "*"
pylint = "*"
django-fake-model = "*"